body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #89cff0;
}

.header{
  text-align: center;
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 3px;
  font-family: sans-serif;
  /* margin: 30px; */
  padding: 30px 0px;
}

.main-container{
  display: flex;
  font-family: sans-serif;
  margin-left: 0%;

  /* flex-direction: space-around; */
}

.aside-container{
  margin: 0;
  min-height: 100vh;
  padding-right: 30px;
}

main {
  width: 100%;
}

.field1{
  width: 70%;
  margin-top: 60px;
  padding-left: 50px;
}

.field2{
  width: 70%;
  margin-top: 60px;
  padding-left: 50px;
}
/* form{
  color: blue;
  width: 300px;
  flex-direction: column;
  text-align: center;
}


label {
  display: inline-block;
  width: 200px;
  margin: 10px;
  text-align: left;
  text-transform: uppercase;
} */

input{
  width: 80%;
  display: inline-block;
}

input[type="submit"]{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

aside {
  margin-top: 20px;
  width: 300px;
  min-height: 400px;
  margin-right: 100px;
  padding: 15px 20px;
  background: rgb(130, 125, 115);
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 2px;
}

aside li:hover {
  /* background: brown; */
  color: white;
  cursor: pointer;
  border-radius: 5px;

}

aside li {
  color: #000080;
  line-height: 70px;
  font-size: 18px;
}

aside ul {
  list-style-type: none;
  padding: 0;
  /* margin-left: 20px; */
}

.submission{
  width: 90%;
  padding: 20px;
  margin: 20px;
  margin-left: 50px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 5px;
}

.asideNav{
  margin-top: 30px;
}

.codeSnippet{
  width: 500px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 5px;
}
.aside-container > ul, h1{
  margin-top: 20px;
  margin-left: 30px;
  line-height: 30px;
}

.submission-options > ul{
  list-style-type: none;
  padding: 0;
}

.submission-options li {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.submission-list{
  width: 100%;
  /* font-size: 16px; */
  color: black;
}
.subEdit:hover{
  background: brown;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.subDelete:hover{
  background: brown;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.codeSnippet{
  width: 500px;
}

.snippet-options > ul {
  list-style-type: none;
  padding: 0;
}

.snippet-options li {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.snippet-options > ul:hover {
}

.snipedit:hover{
  background: brown;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.snipdelete:hover{
  background: brown;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.submit{
  text-align: center;
}

.submitBtn{
  width: 150px;
  padding: 25px;
}

.codeSnippet{
  margin-left: 50px;
}
